<div class="wrapper">
  <div class="header">
    <span
      class="toggler"
      [class.started]="started"
      (click)="toggle()"
    >
      {{started ? 'stop' : 'start'}}
    </span>
    <span class="duration">
      {{seconds | duration}}
    </span>
  </div>
  <div class="current">
    <span class="current-project">
      <strong>Project: </strong>
      Poject Name
    </span>
    <span class="current-task">
      <span>
        <strong>Task: </strong>
        Task Name
        <span class="current-task-time">0:36:45</span>
      </span>
    </span>
  </div>
  <div class="tasks-list">
    <ul>
      <li>task 1</li>
      <li>task 2</li>
      <li>task 3</li>
    </ul>
  </div>
</div>