.wrapper {
  background: #ffffff;
  border: 1px #d0d0d0 solid;
  border-radius: 2px;
  max-width: 800px;
  min-width: 600px;
  padding: 1rem;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem 1.5rem;
    border-bottom: 1px #d0d0d0 solid;

    .toggler {
      display: inline-block;
      padding: 0.5rem;
      border-radius: 2px;
      width: 4rem;
      text-align: center;
      color: #fff;
      background: #0a0;
      font-size: 0.9rem;
      font-weight: bold;
      cursor: pointer;

      &.started {
        background: #ff0000;
      }
    }

    .current-project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.2rem 1rem;
      border: 1px #ddd solid;
      border-radius: 2px;
    }

    .duration {
      font-family: 'Roboto Mono', monospace;
      font-weight: 500;
      padding: 0.5rem 0;
    }
  }

  .tasks-list {
    padding: 1rem 0.8rem 0;

    .task {
      padding: 1rem;
      border-bottom: 1px #d0d0d0 solid;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: #f0f0ff;
      }

      &.active {
        background: #f2f2ff;

        .task-state {
          background: #0a0;
        }
      }

      span {
        line-height: 2rem;
      }

      .task-state {
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 1rem;
        border-radius: 0.4rem;
        background: #aaa;
      }

      .task-title {
        font-family: 'Roboto' sans-serif;
        font-weight: 400;
      }

      .task-duration {
        font-family: 'Roboto Mono', monospace;
        font-weight: 300;
        float: right;
      }
    }
  }
}