@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:300,400,500,700,900');

html {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f4f9f4;
}